mat-expansion-panel {
    padding: 1rem 0 !important;
    margin-bottom: 1.5rem !important;
    border-radius: 24px !important;
}

mat-panel-title {
    margin-bottom: 0 !important;
}

mat-expansion-panel-header {
    padding: 1rem 2rem !important;
    margin: -1rem 0 !important;
}

.mat-expansion-panel-body {
    padding-top: 1.25rem;
}
