<div class="wh-100 center">
    <div class="hflex g-1rem mw-1920">
        <div class="vflex g-1rem wh-100">
            <crczp-element-display elementName="h1">
                <h1>This is h1 title</h1>
            </crczp-element-display>
            <crczp-element-display elementName="h2">
                <h2>This is h2 title</h2>
            </crczp-element-display>
            <crczp-element-display elementName="h3">
                <h3>This is h3 title</h3>
            </crczp-element-display>
            <crczp-element-display elementName="h4">
                <h4>This is h4 title</h4>
            </crczp-element-display>
            <crczp-element-display elementName="h5">
                <h5>This is h5 title</h5>
            </crczp-element-display>
            <crczp-element-display elementName="h6">
                <h6>This is h6 title</h6>
            </crczp-element-display>

        </div>
        <div class="vflex g-1rem wh-100">
            <crczp-element-display elementName="p">
                <p>To be, or not to be: that is the question:
                    Whether ’tis nobler in the mind to suffer
                    The slings and arrows of outrageous fortune,
                    Or to take arms against a sea of troubles,
                    And by opposing end them? To die: to sleep;</p>
            </crczp-element-display>
            <crczp-element-display elementName="span">
            <span>As rich shall Romeo's by his lady's lie;
                Poor sacrifices of our enmity!</span>
            </crczp-element-display>
            <crczp-element-display elementName="a">
                <a routerLink='/titles'>
                    This is a link
                </a>
            </crczp-element-display>
            <crczp-element-display elementName="ul">
                <ul>
                    <li>&#60;li&#62;This is a list item&#60;/li&#62;</li>
                    <li>&#60;li&#62;This is a list item&#60;/li&#62;</li>
                    <li>&#60;li&#62;This is a list item&#60;/li&#62;</li>
                </ul>
            </crczp-element-display>
            <crczp-element-display elementName="ol">
                <ol>
                    <li>&#60;li&#62;This is a list item&#60;/li&#62;</li>
                    <li>&#60;li&#62;This is a list item&#60;/li&#62;</li>
                    <li>&#60;li&#62;This is a list item&#60;/li&#62;</li>
                </ol>
            </crczp-element-display>
        </div>
    </div>
</div>
