<div class="spinner-container">
    <div class="perspective">
        <div class="scene">
            <div class="plane xy">
                <div class="intersection"></div>
            </div>
            <div class="plane xz">
                <div class="intersection"></div>
            </div>
            <div class="plane yz">
                <div class="intersection"></div>
            </div>
        </div>
    </div>
    <div class="line x"></div>
    <div class="line y"></div>
    <div class="line z"></div>
</div>
