@import "../../theming/definitions/variables.scss";

.spinner-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.perspective {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(55deg) rotateZ(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: spin 4s ease-out infinite;
    border-radius: 50%;
}


@keyframes spin {
    0%, 10% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25%, 40% {
        transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    }
    50%, 65% {
        transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    }
    75%, 90% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
    }

}


.plane {
    position: absolute;
    background: transparent;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    width: 50px;
    height: 1px;
    background: var(--sys-background);
    animation: hide 1s infinite ease-in-out;
}

.line.x {
    transform: rotateX(55deg) rotateZ(45deg) translate3d(24px, 0, 0) rotateX(-45deg)
}

.line.y {
    transform: rotateX(55deg) rotateZ(45deg) translate3d(0, 0, 24px) rotateY(90deg) rotateX(-45deg)
}

.line.z {
    transform: rotateX(55deg) rotateZ(45deg) translate3d(0, 25px, 0) rotateX(90deg) rotateY(90deg) rotateX(-45deg)
}


@keyframes hide {
    0%, 5% {
        opacity: 0;
    }
    25%, 35% {
        opacity: 1;
    }
    45%, 100% {
        opacity: 0;
    }
}


@keyframes swap-background {
    0%, 75%, 100% {
        background: rgba(62, 67, 255, 0.125);
    }
    5%, 55% {
        box-shadow: none;
    }
    25%, 35% {
        background: rgba(62, 67, 232, 1);
        box-shadow: inset 0 0 0 2px var(--sys-background);
    }
}

.plane.xy {
    transform: rotate3d(1, 0, 0, 90deg);
    animation: swap-background 1s infinite ease-in-out;
}

.plane.xz {
    transform: rotate3d(0, 1, 0, 90deg);
    animation: swap-background 1s infinite ease-in-out;

}

.plane.yz {
    transform: rotate3d(0, 0, 1, 90deg);
    animation: swap-background 1s infinite ease-in-out;
}

