@import "../../definitions/variables.scss";

@each $shade in $shades {
    .b-#{$shade}-f {
        background-color: var(--primary-#{$shade}) !important;
    }

    .f-#{$shade}-f {
        color: var(--primary-#{$shade}) !important;
    }

    .b-#{$shade}-f {
        background-color: var(--primary-#{$shade}) !important;
    }

    .f-#{$shade}-f {
        color: var(--primary-#{$shade}) !important;
    }

    @each $prefix in $prefixes {
        .b-#{$prefix}-#{$shade} {
            background-color: var(--#{$prefix}-#{$shade});
        }

        .f-#{$prefix}-#{$shade} {
            color: var(--#{$prefix}-#{$shade});
        }

        .b-#{$prefix}-#{$shade}-f {
            background-color: var(--#{$prefix}-#{$shade}) !important;
        }

        .f-#{$prefix}-#{$shade}-f {
            color: var(--#{$prefix}-#{$shade}) !important;
        }
    }
}

.b-primary {
    background-color: var(--primary);
}

.b-primary-f {
    background-color: var(--primary) !important;
}

.f-light-f {
    color: var(--neutral-98) !important;
}

.b-light-f {
    background-color: var(--neutral-98) !important;
}

.f-light {
    color: var(--neutral-98);
}

.b-light {
    background-color: var(--neutral-98);
}
