.vertical-flex, .vflex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex, .hflex {
    display: flex;
    flex-direction: row;
}

$justify-content: (
    fs: flex-start,
    fe: flex-end,
    c: center,
    sb: space-between,
    sa: space-around
);

@each $justify in $justify-content {
    .jc-#{$justify} {
        justify-content: map-get($justify-content, $justify);
    }
}

$align-items: (
    fs: flex-start,
    fe: flex-end,
    c: center,
    b: baseline,
    s: stretch
);

@each $align in $align-items {
    .ai-#{$align} {
        align-items: map-get($align-items, $align);
    }
}







