.wh-100 {
    width: 100%;
    height: 100%;
}

@for $i from 1 through 10 {
    .w-#{$i * 10} {
        width: percentage(#{$i * 10 / 100});
    }

    .h-#{$i * 10} {
        height: percentage(#{$i * 10  / 100});
    }
}

@for $i from 1 through 3 {
    .w-#{$i * 25} {
        width: percentage(#{$i * 25  / 100});
    }

    .h-#{$i * 25} {
        height: percentage(#{$i * 25  / 100});
    }
}

@function decimal-to-name($decimal){
    $integer: floor($decimal);
    $fraction: str-slice(#{$decimal},3);
    @if $fraction == ""{
        @return $integer;
    }
    @return $integer + "-" + $fraction;
}

@for $i from 1 through 16 {
    .w-#{decimal-to-name($i / 4)}rem {
        width: #{$i}rem;
    }

    .h-#{decimal-to-name($i / 4)}rem {
        height: #{$i}rem;
    }
}


.mw-1920 {
    max-width: 1920px;
}

.mw-1280 {
    max-width: 1280px;
}
