@function decimal-to-name($decimal){
    $integer: floor($decimal);
    $fraction: str-slice(#{$decimal},3);
    @if $fraction == ""{
        @return $integer;
    }
    @return $integer + "-" + $fraction;
}

$gaps: [0.25,0.5,0.75,1,1.25,1.5,1.75,2,2.5,3];

$positions: [t, r, b, l];
$positionsDict: (
    t: top,
    r: right,
    b: bottom,
    l: left
);
@for $i from 1 through 16 {
    .g-#{decimal-to-name($i/4)}rem {
        gap: #{$i/4}rem;
    }

    .m-#{decimal-to-name($i/4)}rem {
        margin: #{$i/4}rem;
    }

    .p-#{decimal-to-name($i/4)}rem {
        padding: #{$i/4}rem;
    }

    @each $position in $positions{
        .m-#{decimal-to-name($i/4)}rem-#{$position} {
            margin-#{map-get($positionsDict, $position)}: #{$i/4}rem;
        }

        .p-#{decimal-to-name($i/4)}rem-#{$position} {
            padding-#{map-get($positionsDict, $position)}: #{$i/4}rem;
        }
    }
}
